<!-- page header -->
<div id="header">
  <a href="https://danielvreeman.com" title="Daniel Vreeman" id="logo">
    <img src="assets/images/forms-logo.png" alt="Daniel J. Vreeman, PT, DPT, MS, FACMI" />
  </a>
  <!-- <div id="siteNameBox">
    <span id=siteName>OpenForm</span><br>
  </div>
-->
  <div id="version">Version: 0.1</div>
</div>
<!-- end page header -->

<div>

  <md-toolbar class="lf-patient">

    <div class="md-toolbar-tools">
      <span class="glyphicon glyphicon-user"></span>
      <span ng-if="getCurrentPatient()" flex="" class="lf-patient-info">
        <div id=ptName class="col-xs-6 col-md-3">Name: {{getPatientName()}}</div>
        <div class="col-xs-6 col-md-3">Gender: {{getPatientGender()}}</div>
        <div class="col-xs-6 col-md-3">DoB: {{getPatientDob()}}</div>
        <div class="col-xs-6 col-md-3">Phone: {{getPatientPhone()}}</div>
      </span>
    </div>

  </md-toolbar>


  <md-content>
    <div class="lf-content">
      <div class="col-md-4 form-nav" ng-include="'fhir-app/fhir-app-navbar.html'"></div>
      <div class="col-md-8 form-content" ng-include="'fhir-app/fhir-app-content.html'"></div>
    </div>
  </md-content>
</div>



<!-- page footer -->
<div id="fine-print">
  <ul class="horz-list">
    <li class="last-item"><a title="copyright information"  href="https://github.com/djvreeman/lforms-fhir-app/blob/master/LICENSE.md">Copyright</a></li>
  </ul>
</div>
<div class="btn-group btn-group-sm" role="group" ng-if="formData">
  <button type="button" class="btn dropdown-toggle btn-primary"
   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
   id="btn-show-as" data-toggle="tooltip" data-placement="bottom" title="Show
   the form data as a FHIR resource in a popup window.">
    <span class="glyphicon glyphicon-modal-window"></span>
    <span>Show As ... </span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li ng-if="fhirResInfo.questionnaireResId"><a id="show-q-from-server" href="#"
     class="" ng-click="showOrigFHIRQuestionnaire()">FHIR Questionnaire from
     Server</a></li>
    <li ng-if="fhirResInfo.questionnaireResId" role="separator" class="divider"></li>
    <!--<li><a id="show-q" href="#" class="" ng-click="showFHIRQuestionnaire()">FHIR Questionnaire</a></li>-->
    <!--<li><a id="show-qr" href="#" class="" ng-click="showFHIRQuestionnaireResponse()">FHIR QuestionnaireResponse</a></li>-->
    <!--<li role="separator" class="divider"></li>-->
    <li><a id="show-sdc-q" href="#" class="" ng-click="showFHIRSDCQuestionnaire()">FHIR Questionnaire (SDC)</a></li>
    <li><a id="show-sdc-qr" href="#" class="" ng-click="showFHIRSDCQuestionnaireResponse()">FHIR QuestionnaireResponse (SDC)</a></li>
    <!--<li role="separator" class="divider"></li>-->
    <!--<li><a href="#" class="" ng-click="showFHIRDiagnosticReport()">FHIR DiagnosticReport</a></li>-->
    <!--<li role="separator" class="divider"></li>-->
    <!--<li><a href="#" class="" ng-click="showHL7Segments()">HL7 v2 Message</a></li>-->
  </ul>
</div>

<!-- end page footer -->
